body{
    margin: 0px;
}
nav div{
    height:120px;
    background-color: rgb(170, 70, 70);
    border-bottom-left-radius: 1rem;
}
nav a{
    color: burlywood;
    display: inline-block;
    margin: 1rem;
    padding: 0.4rem;
    text-decoration: none;
}
.active-link{
    background-color: rgb(41, 38, 34);
    border-radius: 0.5rem;
    box-shadow: 0px 0px 6px;
}
.istriangle-heading{
    text-align: center;
    color: rgb(167, 63, 63);
    text-shadow: 0px 0px 6px rgb(247, 244, 244);
}
label,input,button{
    display: block;
    text-align: center;
}
input{
    width: 100px;
    margin: auto;
    border: none;
}
label{
    margin-top: 1rem;
    font-family: sans-serif;
    font-size: 0.9rem;
}
button{
    width: 90px;
    margin: auto;
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
}
button:hover{
    cursor: pointer;
    background-color: brown;
}
.color-container{
    background-color: burlywood;
    width: 90%;
    margin: auto;
    padding-bottom: 1.5rem;
    padding-top: 0.5rem;
    margin-top: 3rem;
    border-radius: 1rem;
}
.outside-container{
    width: 90%;
    margin: auto;
}
.output{
    margin-top: 3rem;
    display: block;
    text-align: center;
    font-family: sans-serif;
    font-size: 0.9rem;
    color: brown;
    font-weight: bold;
    text-shadow: 0px 0px 4px rgb(51, 4, 4);
    padding-bottom: 2rem;
}
footer{
    margin-top: 40px;
    height: 80px;
    background-color: rgb(165, 55, 55);
    padding-top: 2rem;
    border-top-right-radius: 1rem;
}
footer p {
    color: burlywood;
    font-size: 0.9rem;
    text-align: center;
}